body {
    background-color: #1e5c5ca6;
    display: flex;
    justify-content: center;
}

.panel {
    background-color: white;
    width: 450px;
    padding: 30px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.input_group {
    display: flex;
    border-radius: 25px;
    overflow: hidden;
}

.user_input {
    flex-grow: 1;
    border: none;
    background-color: #F0F4F8;
    padding: 10px 15px;
    outline: none;
}

.button {
    background-color: #03573c8f;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list li {
    display: flex;
    padding: 3px 0;
    border-bottom: 1px solid #eee;
}

.list label {
    flex-grow: 1;
}

.checkbox {
    margin-right: 10px;
}

.trashcan {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}

.trashcan:hover {
    opacity: 1;
}